* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    background-color: rgb(170, 210, 240);
}

.container {
    
    margin: 50px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(20, 106, 185);
    padding: 15px;
    color: rgb(2, 6, 60);
}

.topnav a {
    float: right;
    color: rgb(2, 6, 60);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
}

.topnav h1 {
    text-align: center;
    font-size: 35px;
}

.topnav a:hover {
    background-color: rgb(82, 157, 254);
    color: black;
}



.component {
    margin-bottom: 20px;
    justify-content: space-between;
}

.component h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.component p {
    color:rgb(57, 32, 5);
    line-height: 1.5;
} 
.component img
{
    align-items: center;
    margin-left:35%;
}
.videos
{
    margin-left:30%;
    
}
.component ul
{
    margin-left:40px;
}